Source: deepin-dtk5-helper
Section: metapackages
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.1

Package: deepin-dtk5-helper
Architecture: any
Depends: ${misc:Depends}, libdtkwidget-dev,
Recommends: ${misc:Depends},
 libdtkdeclarative-dev
Description: Dtk Development Environment
  Dtk Development Envrionment packages
